.contenedor-tarjeta {
    position: relative;
    width: 100%;
    background: rgba(83, 183, 123, 0.29);

    mix-blend-mode: multiply
}

.contenedor-tarjeta>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    top: 0;
    left: 0;
    z-index: -1;

}