.principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    width: 100%;
}

.contenedor-plataformas {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mintic {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-size: 1.5vh;
    color: white;
}

.logo-img {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 1em;
    width: 5em;
}

.escudo-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 1em;
    width: 4.5em;
}

@media (max-width: 700px) {
    .principal {
        display: flex;
        flex-direction: column;

    }

    .contenedor-plataformas {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

}